.paginationBttns{
    width: 100%;
  
    height: 10px;
    display: flex;
    justify-content: center;
  }
  
  .paginationBttns a {
    padding:5px;
    font-size: small;

    margin:8px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .paginationBttns a:hover{
    color: rgb(37, 89, 148);
    font-size: small;
  }
  
  .paginationActive a {
    color: rgb(37, 89, 148);
    font-size: small;

  }